<p-toast position="top-left"></p-toast>

<div class="dashboard">
  <aside class="sidebar">
    <div class="sidebar-header" (click)="goHome()">
      <a class="logoLink">
        <img src="assets/images/church-logo.png" class="logo" alt="شعار الكنيسة" />
      </a>
      <h2>أسرة الشمامسة</h2>
      <p>كنيسة السيدة العذراء – العمرانية</p>
    </div>

    <ul class="menu">
      <li routerLink="/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <i class="pi pi-home"></i> الصفحة الرئيسية </li>

      <ng-container *ngIf="isServantOrAbove();  ">
        <li routerLink="/attendance" routerLinkActive="active"><i class="pi pi-check-square"></i> تسجيل الحضور</li>
        <li routerLink="/family-attendance" routerLinkActive="active"><i class="pi pi-users"></i> حضور الأعضاء</li>
        <li routerLink="/family-info" routerLinkActive="active"><i class="pi pi-id-card"></i> بيانات الأعضاء</li>
        <li *ngIf="isAminOsraOrAbove()" routerLink="/transfer-members" routerLinkActive="active"><i class="pi pi-send"></i> الانتقلات</li>
      </ng-container>

        <li routerLink="/grades" routerLinkActive="active"><i class="pi pi-chart-bar"></i> الدرجات</li>

      <li routerLink="/profile" routerLinkActive="active"><i class="pi pi-user"></i> الصفحة الشخصية</li>
      <li routerLink="/resources" routerLinkActive="active">
      <i class="pi pi-folder"></i> الملفات </li>
      <li routerLink="/attendance-history"> حضوري</li>
      <li routerLink="/about" routerLinkActive="active"><i class="pi pi-info-circle"></i> من نحن</li>

      <ng-container *ngIf="isServantOrAbove(); ">
        <li *ngIf="isAminKhedmaOrDev()" routerLink="/start-new-year" routerLinkActive="active"><i class="pi pi-calendar"></i> بدء سنة جديدة</li>
      </ng-container>
    </ul>

    <div class="logout">
      <button type="button" (click)="logout()">
        <i class="pi pi-sign-out"></i>
        تسجيل الخروج
      </button>
    </div>
  </aside>

  <main class="main">
    <router-outlet></router-outlet>
  </main>
</div>





