/* You can add global styles to this file, and also import other style files */
/* 🌐 Make app fill entire screen with no scroll */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: #faf6ef;
}


/* Angular root must fill viewport */
app-root {
  display: flex;
  height: 100%;
  width: 100%;
}
