/* Make toast message text readable */
.p-toast .p-toast-message .p-toast-detail,
.p-toast .p-toast-message .p-toast-summary {
  color: #00abfa !important;
}
html, body {
  overflow-y: auto;
  overflow-x: hidden;
}
